<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.runintest"
    android:installLocation="auto"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0"
    android:process="system">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="com.qualcomm.permission.USE_QCRIL_MSG_TUNNEL" /> 
    <!-- android:process="system" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true" >
        <activity android:name="com.android.runintest.RunInTestActivity" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
        </activity>

        <activity android:name="com.android.runintest.VibrateTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.RebootTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.runintest.RebootTestActivity" />
            </intent-filter> 
        </activity>
        <activity android:name="com.android.runintest.ChargeTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.AudioTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.LCDTestActivity" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.IntegratedTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.camera.cameratest.CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Camera" >
        </activity>
        <activity android:name="com.android.runintest.EMMCTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.NFCTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.FPSTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.TPTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
        </activity>
        <!-- 0068688 xuyinwen 20150824 begin -->
        <activity android:name="com.android.runintest.VedioTestActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation">
        </activity>
        <!-- 0068688 xuyinwen 20150824 end -->
        <activity android:name="com.android.runintest.OpenCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.DDRTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
        </activity>
        <activity android:name="com.android.runintest.ShowReslut"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.ShowRunInReslut"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="com.android.runintest.LightSenorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
        </activity>
        <activity android:name="com.android.runintest.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
        </activity>
        <service
            android:name="com.android.runintest.TestService"
            android:exported="false" />

        <receiver android:name=".RunInTestReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
                       android:name="com.qualcomm.qcnvitems" />
           <uses-library
                       android:name="com.qualcomm.qcrilhook" />
    </application>

</manifest>
